<footer class="mt-auto px-8 pb-8 pt-16 bg-stone-800 w-full flex">
  <section class="text-stone-400">
    Sumucafe @ 2023
  </section>
  <section class="ml-auto">
    <a class="text-stone-400 underline"
      href="https://github.com/Veikkosuhonen/sumucafe/issues/new">Report bug or request feature</a>
  </section>
</footer>