<div>
  <h1 class="mb-4 text-xl font-medium">Ingredients</h1>
  <p>ordered by relevancy</p>
  <table class="table-auto">
    <thead>
      <tr>
        <th>Name</th>
        <th>Preference</th>
      </tr>
    </thead>
    <tbody>
     <% @ingredients.each do |ingredient| %>
        <tr>
          <td><%= ingredient.name %></td>
          <td>Neutral</td>
        </tr>
     <% end %>
    </tbody>
  </table>

</div>
