<%= turbo_frame_tag "meal_details" do %>
  <section class="mb-8 p-4">
    <h1 class="text-stone-200 text-xl"><%= @meal.name %></h1>
    <details class="text-sm text-stone-300 py-2">
      <summary class="text-stone-200 cursor-pointer hover:text-stone-50">Ingredients</summary>
      <div class="mx-4">
        <% @meal.meal_ingredients.sort_by(&:sort).each do |meal_ingredient| %>
          <p><%= meal_ingredient.ingredient.name %></p>
        <% end %>
      </div>
    </details>
  </section>
<% end %>
