<div id="<% dom_id restaurant%>" class="rounded-xl shadow-md bg-stone-800 relative mb-2">
  <div class="h-full flex flex-col justify-end">
    <div class="p-6 rounded-xl w-full">
      <div class="flex gap-2 items-center mb-2">
        <h3 class="text-lg font-bold text-stone-300"><%= restaurant.name %></h3>
        <% unless restaurant.open_on(day) %><p class="text-stone-400 ml-auto">Kiinni</p><% end %>
      </div>
      <div class="flex flex-col gap-2">
        <%= render restaurant.menu_items_on(day) %>
      </div>
    </div>
  </div>
</div>
